/PesoIdeal/nbproject/private/
/PesoIdeal/build/
/PesoIdeal/dist/
/JavaApplication4/nbproject/private/
/JavaApplication4/build/
/PesoIdealGithub/nbproject/private/
/PesoIdealGithub/build/
/CalcularCuadrado/nbproject/private/
/CalcularCuadrado/build/
/Pesoideal2.0/nbproject/private/
/calcularpesoideal/nbproject/private/
/calcularpesoideal/build/
/CalcularEstadoDePeso/nbproject/private/
/CalcularEstadoDePeso/build/